<div class="experiencia-container" [ngClass]="{'small-screen': isSmallScreen}">
  <div class="experiencia-content" [ngClass]="{'small-screen': isSmallScreen}">
    <h1>Minha Experiência Profissional</h1>

    <po-accordion>
      <po-accordion-item [p-label]="'Lorenfer LTDA'">
        <p><strong>Estagiário de TI (Cargo Atual)</strong></p>
        <p><strong>Out de 2024 (5 meses)</strong></p>
        <p><strong>Localização:</strong> Canas, São Paulo, Brasil (Presencial)</p>
        <h3>Descrição do Cargo:</h3>
        <p>
          Como Estagiário de TI, sou responsável por apoiar o desenvolvimento e manutenção de aplicações
          que auxiliam na operação cotidiana da empresa. Utilizamos Angular para criar soluções eficazes que otimizam o ambiente de
          produção e administração, resolvendo desafios diários e melhorando a integração entre os processos internos.
        </p>
        <h3>Competências:</h3>
        <ul>
          <li>Infraestrutura de tecnologia da informação</li>
          <li>TypeScript</li>
          <li>TOTVS Protheus</li>
          <li>Desenvolvimento de aplicações Angular</li>
        </ul>
      </po-accordion-item>

      <po-accordion-item [p-label]="'Desenvolvedor Freelancer'">
        <p><strong>Jan de 2023 - Out de 2024 (1 ano e 7 meses)</strong></p>
        <p><strong>Localização:</strong> Freelance</p>
        <h3>Descrição do Cargo:</h3>
        <p>
          Como Desenvolvedor Freelancer, atuei em projetos de tecnologia, oferecendo soluções personalizadas para
          clientes utilizando tecnologias modernas como JavaScript, Bootstrap e outras ferramentas.
        </p>
        <h3>Competências:</h3>
        <ul>
          <li>Gestão de vendas</li>
          <li>Gestão de projetos</li>
          <li>CSS</li>
          <li>Java</li>
          <li>Análise de dados</li>
          <li>Bootstrap</li>
          <li>JavaScript</li>
        </ul>
      </po-accordion-item>

      <po-accordion-item [p-label]="'Kellynha LTDA'">
        <p><strong>Assistente Administrativo</strong></p>
        <p><strong>Set de 2021 - Ago de 2023 (2 anos)</strong></p>
        <p><strong>Localização:</strong> Guaratinguetá, São Paulo, Brasil</p>
        <h3>Descrição do Cargo:</h3>
        <p>
          Como Assistente Administrativo na Kellynha, coordenei a reposição de estoque, garanti a continuidade das operações e utilizei habilidades administrativas como gestão de e-mails, emissão de NF e uso de sistemas de gestão.
        </p>
        <h3>Competências:</h3>
        <ul>
          <li>Gestão de Vendas Online</li>
          <li>Gestão Operacional</li>
          <li>Gestão de Estoque e Reposição</li>
          <li>Processos de Venda e Faturamento</li>
          <li>Uso de Sistemas de Gestão e Softwares de Escritório</li>
        </ul>
      </po-accordion-item>
    </po-accordion>
  </div>
</div>
