<div class="experiencia-container">
  <div class="experiencia-content">
    <h1>Minha Experiência Profissional</h1>

    <!-- Lorenfer Atacado da Construção -->
    <div class="experiencia-item">
      <h2>Lorenfer Atacado da Construção</h2>
      <p><strong>Estagiário de TI (Cargo Atual)</strong></p>
      <p><strong>Out de 2024 - o momento (5 meses)</strong></p>
      <p><strong>Localização:</strong> Canas, São Paulo, Brasil (Presencial)</p>
      <div class="descricao-competencias">
        <div class="descricao">
          <h3>Descrição do Cargo:</h3>
          <p>
            Como Estagiário de TI, sou responsável por apoiar a equipe no desenvolvimento e manutenção de aplicações
            que auxiliam na operação cotidiana da empresa. Utilizamos Angular para criar soluções eficazes que otimizam o ambiente de
            produção e administração, resolvendo desafios diários e melhorando a integração entre os processos internos.
          </p>
        </div>
        <div class="competencias">
          <h3>Competências:</h3>
          <ul>
            <li>Infraestrutura de tecnologia da informação</li>
            <li>TypeScript</li>
            <li>TOTVS Protheus</li>
            <li>Desenvolvimento e manutenção de aplicações Angular</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Desenvolvedor Freelancer -->
    <div class="experiencia-item">
      <h2>Desenvolvedor Freelancer</h2>
      <p><strong>Jan de 2023 - Out de 2024 (1 ano e 7 meses)</strong></p>
      <p><strong>Localização:</strong> Freelance</p>
      <div class="descricao-competencias">
        <div class="descricao">
          <h3>Descrição do Cargo:</h3>
          <p>
            Como Desenvolvedor Freelancer, atuei em diversos projetos de tecnologia, oferecendo soluções personalizadas para
            clientes, desenvolvendo websites e aplicações utilizando tecnologias modernas como JavaScript, Bootstrap, e outras ferramentas.
          </p>
        </div>
        <div class="competencias">
          <h3>Competências:</h3>
          <ul>
            <li>Gestão de vendas</li>
            <li>Gestão de projetos</li>
            <li>CSS</li>
            <li>Java</li>
            <li>Análise de dados</li>
            <li>Bootstrap</li>
            <li>JavaScript</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Kellynha -->
    <div class="experiencia-item">
      <h2>Kellynha</h2>
      <p><strong>Assistente Administrativo</strong></p>
      <p><strong>Set de 2021 - Ago de 2023 (2 anos)</strong></p>
      <p><strong>Localização:</strong> Guaratinguetá, São Paulo, Brasil</p>
      <div class="descricao-competencias">
        <h3>Descrição do Cargo:</h3>
        <p>
          Como Assistente Administrativo na Kellynha, coordenei a reposição de estoque, garanti a continuidade das operações e utilizei habilidades administrativas como gestão de e-mails, emissão de NF e uso de sistemas de gestão. Organizei planilhas financeiras e de pedidos, contribuindo para a agilidade nos processos e tomada de decisões. Também cuidei do bem-estar das equipes, promovendo um ambiente produtivo nas oficinas.
        </p>
        <h3>Competências:</h3>
        <p>
          Durante esse período, desenvolvi competências nas áreas de Gestão de Vendas, Gestão de Projetos, Gestão Operacional,
          Gestão de Estoque e Reposição, além de experiência em Processos de Venda, Faturamento e uso de sistemas de gestão e
          softwares de escritório.
        </p>
      </div>
    </div>

