<div class="competencias-background" [ngClass]="{'small-screen': isSmallScreen}">
  <div class="competencias-container" [ngClass]="{'small-screen': isSmallScreen}">
    <h2 class="competencias-title" [ngClass]="{'small-screen': isSmallScreen}">Principais Competências</h2>

    <div class="competencias-cards" [ngClass]="{'small-screen': isSmallScreen}">
      <div class="competencia-card" id="sql-card">
        <div class="competencia-icon"></div>
        <p>SQL</p>
      </div>
      <div class="competencia-card" id="angular-card">
        <div class="competencia-icon"></div>
        <p>Angular</p>
      </div>
      <div class="competencia-card" id="javascript-card">
        <div class="competencia-icon"></div>
        <p>JavaScript</p>
      </div>
      <div class="competencia-card" id="java-card">
        <div class="competencia-icon"></div>
        <p>Java</p>
      </div>
    </div>
  </div>
</div>
