<div class="competencias-background" [ngClass]="{'small-screen': isSmallScreen}">
  <div class="competencias-container" [ngClass]="{'small-screen': isSmallScreen}">
    <h2 class="competencias-title" [ngClass]="{'small-screen': isSmallScreen}">Principais Competências</h2>

    <div class="competencias-cards" [ngClass]="{'small-screen': isSmallScreen}">
      <div class="competencia-card" id="sql-card">
        <div class="competencia-icon"></div>
        <p>SQL</p>
      </div>
      <div class="competencia-card" id="angular-card">
        <div class="competencia-icon"></div>
        <p>Angular</p>
      </div>
      <div class="competencia-card" id="javascript-card">
        <div class="competencia-icon"></div>
        <p>JavaScript</p>
      </div>
      <div class="competencia-card" id="java-card">
        <div class="competencia-icon"></div>
        <p>Java</p>
      </div>
      <div class="competencia-card" id="boot-card">
        <div class="competencia-icon"></div>
        <p>Bootstrap</p>
      </div>
      <div class="competencia-card" id="node-card">
        <div class="competencia-icon"></div>
        <p>Node.JS</p>
      </div>
    </div>

    <!-- Seção separada para Certificados -->
    <h2 class="certificado-title" [ngClass]="{'small-screen': isSmallScreen}">Certificados</h2>
    <div class="competencias-cards" [ngClass]="{'small-screen': isSmallScreen}">
      <div class="certificado-card" id="cisco-card">
        <div class="certificado-icon"></div>
        <p>Cisco - IT Essentials</p>
      </div>
      <div class="certificado-card" id="ibm-card">
        <div class="certificado-icon"></div>
        <p>IBM - Web Development Fundamentals</p>
      </div>
    </div>
  </div>
</div>
