.competencias-background {
  background: #1e2a47;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  border-radius: 20px;
}

.competencias-container {
  width: 92%;
  max-width: 1200px;
  background: rgba(27, 20, 20, 0.582);
  border-radius: 20px;
  padding: 40px;
  text-align: center;
}

.competencias-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #ffffff;
}

.competencias-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.competencia-card {
  width: 180px;
  height: 190px;
  border-radius: 20px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.competencia-icon {
  width: 120px;
  height: 120px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.competencia-card:hover {
  transform: scale(1.05);
}

#sql-card .competencia-icon {
  background-image: url('../assets/sqlogo.png');
}

#angular-card .competencia-icon {
  background-image: url('../assets/Angular.png');
}

#javascript-card .competencia-icon {
  background-image: url('../assets/JavaScript_logo.png');
}

#java-card .competencia-icon {
  background-image: url('../assets/java-logo.png');
}

.competencia-card p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

@media (max-width: 600px) {
  .competencias-title {
    font-size: 16rem;
  }

  .competencias-cards {
    gap: 7px;
  }

  .competencia-card {
    width: 50px;
    height: 50px;
  }

  .competencia-icon {
    width: 70px;
    height: 70px;
  }

  .competencia-card p {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  .competencias-title {
    font-size: 1.8rem;
  }

  .competencias-cards {
    gap: 20px;
  }

  .competencia-card {
    width: 180px;
    height: 200px;
  }

  .competencia-icon {
    width: 120px;
    height: 120px;
  }
}

@media (min-width: 1025px) {
  .competencias-title {
    font-size: 2rem;
  }

  .competencias-cards {
    gap: 30px;
  }

  .competencia-card {
    width: 220px;
    height: 230px;
  }

  .competencia-icon {
    width: 140px;
    height: 140px;
  }
}
