/* Fundo ocupando toda a tela */
.competencias-background {
  background: #1e2a47;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  border-radius: 20px;
}

.competencias-title {
  margin-left: 35% ;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #ffffff;
}

.competencias-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.competencia-card {
  width: 220px;
  height: 230px;
  border-radius: 20px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

/* Ícone dentro do card */
.competencia-icon {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Efeito ao passar o mouse */
.competencia-card:hover {
  transform: scale(1.05);
}

/* Imagens de fundo dos ícones */
#sql-card .competencia-icon {
  background-image: url('../assets/sqlogo.png');
}

#angular-card .competencia-icon {
  background-image: url('../assets/Angular.png');
}

#javascript-card .competencia-icon {
  background-image: url('../assets/JavaScript_logo.png');
}

#java-card .competencia-icon {
  background-image: url('../assets/java-logo.png');
}

/* Texto dentro dos cards */
.competencia-card p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
