<div class="sobre-container">
  <div class="sobre-content">
    <h1>Sobre Fábio Bussmann</h1>
    <p>
      Cursando Análise e Desenvolvimento de Sistemas na Fatec Guaratinguetá, busco me especializar como desenvolvedor full stack, criando soluções tecnológicas que integram experiência do usuário, processamento eficiente e armazenamento de dados estruturado.
    </p>
    <p>
      Tenho experiência com Angular (PO-UI) e Bootstrap para desenvolvimento de aplicações web dinâmicas, SQL para modelagem e manipulação de bancos de dados e Node.js para construção de APIs e integração com o back-end.
    </p>
    <h3>Hobbies</h3>
    <p>
      Meus hobbies pessoais incluem uma paixão por esportes, especialmente artes marciais e motociclismo. Já treinei Hapkido e Muay Thai, buscando aprimorar minha disciplina, concentração e resistência física.
    </p>
    <p>
      Além disso, tenho uma grande paixão por aventuras de moto. Já percorri diversos estados do Brasil, incluindo viagens para o Amazonas, Piauí, Mato Grosso, Minas Gerais e até rodei a BR-230 inteira. Cada viagem é uma nova oportunidade de explorar paisagens incríveis e viver experiências únicas.
    </p>
    <p>
      Essas atividades me ajudam a desenvolver habilidades de perseverança, autoconfiança e superação de desafios, tanto no campo pessoal quanto profissional.
    </p>
    <h3>Contato</h3>
    <ul>
      <li><strong>📧 E-mail:</strong> <a href="mailto:fabio.bussmann@fatec.sp.gov.br">fabio.bussmann</a></li>
      <li><strong>📞 Telefone:</strong> (12) 99146-4465</li>
      <li><strong>🚀 GitHub:</strong> <a href="https://github.com/BussmannFabio" target="_blank">BussmannFabio</a></li>
      <li><strong>📍 Localização:</strong> Guaratinguetá / Campinas</li>
    </ul>

  </div>
</div>
